.fcw-board {
  position: relative;
}

// 设置需要元素的绝对布局
.fcw-board-imgs,
.fcw-board-pages,
.fcw-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fcw-board-imgs>div,
.fcw-board-imgs>div>div {
  height: 100%;
}

.fcw-board-img {
  width: 100%;
  height: 100%;
}

.fcw-board-img-wrapper {
  background-image: url(https://i.postimg.cc/RZwf0MRw/image.png);
  background-size: contain;
  background-position: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.fcw-board-flip-arrow {
  height: 20px;
  width: 20px;

  cursor: pointer;
}

.fcw-board-controller {
  position: absolute;
  display: flex;
  width: 50px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  top: -30px;
  background-color: #cccccc;
  padding: 0px 5px;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
